footer.padding_sec.position-relative
    .container
        .footer_content

            .row
                // short desc
                .col-md-6.col-lg-4
                    .short_desc

                        .logo
                            img(src="imgs/global/Falcon-blue-min.png", alt="short logo", class="img-fluid")
                        
                        .desc
                            p.global_p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

                // calls_us
                .col-md-6.col-lg-4
                    .calls_us

                        .head
                            h2 calls us
                        
                        ul.list-unstyled.m-0.p-0
                            li 
                                a(href="#") +91 011 592 58110
                            li 
                                a(href="#") +91 012 836 8747
                            
                        .head 
                            h2 email us

                        ul.list-unstyled.m-0.p-0
                            li
                                a(href="#") m.hus.dev@gmail.com
                            
                // subscribe
                .col-md-6.col-lg-4
                    .subscribe
                        .head
                            h2 subscribe 
                        form
                            .form-group
                                input(type="email" placeholder="enter email address")
                                button(type="submit")
                                    i.fas.fa-angle-right

    // footer_footer
    .footer_footer
        p.global_p &copy; Copyright 2017 Falcon Theme
            i.fas.fa-angle-up