meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="stylesheet", href="fonts/css/fontawesome-all.min.css")
block swipercssfile
    link(rel="stylesheet", href="css/libs/swiper.min.css")
link(rel="stylesheet", href="css/style.min.css")
block pagetitle
    title falcon