script(src="js/libs/jquery-3.4.1.min.js")
script(src="js/libs/bootstrap.bundle.min.js")
block swiperjsfile
    script(src="js/libs/swiper.min.js")
    script(src="js/initswiper.js")
block mixitupjsfile
    script(src="js/libs/mixitup.min.js")
    script(src="js/initmixitup.js")
block jsmainfile
    script(src="js/main-min.js")