$global_font: 'Roboto', sans-serif;
$head_font: 'Righteous', cursive;

$header_height: 65px;

$small_distance: 10px;
$medium_distance: $small_distance * 2;
$large_distance: $medium_distance * 2;

$small_font: 15px;
$medium_font: 18px;
$big_font: 20px;

$padding_sec: $header_height;