<!DOCTYPE html>
html(lang="en")
    head
        // start meta
        include pug/layout/meta
        // end meta 
    body

        // start header
        include pug/layout/header
        // end header

        // start home_sec
        block home
            include pug/pages/home
        // end home_sec

        // start scripts
        include pug/layout/script
        // end scripts