section.home.page

    // start itro
    block intro
        include ../components/intro
    // end intro

    // start about
    block about
        include ../components/about
    // end about

    // start statistic
    block statistic
        include ../components/statistic
    // end statistic

    // start assist
    block assist
        include ../components/assist
    // end assist
    
    // start services
    block services
        include ../components/services
    // end services

    // start works
    block works
        include ../components/works
    // end works

    // start price
    block price 
        include ../components/price
    // end price

    // start blog
    block blog
        include ../components/blog
    // end blog

    // start testimonials
    block testim
        include ../components/testim
    // end testimonials

    // start contact
    block contact
        include ../components/contact
    // end contact

    // start footer
    block footer
        include ../layout/footer
    // end footer
