section.assist.padding_sec.position-relative
    // start container
    .container
        .assist_content
            .row
                .col
                    // start assist_desc
                    .assist_desc.text-center
                        
                        .assist_desc_title.head_font
                            h2.h1.font-weight-bold.m-0.text-capitalize need assistance
                            p.global_p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        
                        .assist_desc_footer
                            include global_btn

                    // end assist_desc

    // end container