block global_title
    // start global_title
    .global_title

        // start main_title
        .main_title.head_font.text-uppercase
            block main_title
                h2.main_title_inner.h1.font-weight-bold #{sec_title}
        // end main_title

        // start short_title
        .short_title
            block shirt_title
                h6.short_title_inner Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        // end short_title

    // end global_title